# rename this file to .env.local
KEYCLOAK_DATABASE_HOST=postgresql
KEYCLOAK_DATABASE_NAME=docker
KEYCLOAK_DATABASE_USER=docker
KEYCLOAK_DATABASE_PASSWORD=admin55
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=keycloak
KEYCLOAK_HTTP_PORT=7080